<div class="profile-container d-flex flex-column flex-md-row h-100">
    <div class="personal-info-section d-flex flex-column bg-white">
        <div class="profile-header d-flex flex-column align-items-center">
            <span class="fa fa-user-circle-o user-pfp"></span>
            <h5 class="user-name mb-0">Rajdeep MiddleName Mehta</h5>
        </div>
        <div class="profile-main flex-grow-1">
            <table class="table">
                <tr>
                    <th>Mentors-id:</th>
                    <td>9870</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>Rajdeep.mehta@1Rivet.com</td>
                </tr>
                <tr>
                    <th>Contact No:</th>
                    <td>+91 7672676272672</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="details-section flex-grow-1">
        <div class="internship-details">
            <h5 class="mb-3">Internship Training Details Details</h5>
            <div class="row no-gutters mb-2">
                <div class="col-sm-6 col-lg-5 col-xl-3">Training Duration:</div>
                <div class="col-sm-6 col-lg-7 col-xl-9">
                    <div>From:<span class="ml-2">18/01/2021</span></div>
                    <div>To:<span class="ml-2">18/01/2021</span></div>
                </div>
            </div>
            <div class="row no-gutters mb-2">
                <div class="col-sm-6 col-lg-5 col-xl-3">Domain:</div>
                <div class="col-sm-6 col-lg-7 col-xl-9">PMO</div>
            </div>
            <div class="row no-gutters mb-2">
                <div class="col-sm-6 col-lg-5 col-xl-3">Sub-domain:</div>
                <div class="col-sm-6 col-lg-7 col-xl-9">Business Analysis</div>
            </div>
            <div class="row no-gutters">
                <div class="col-sm-6 col-lg-5 col-xl-3">Interns:</div>
                <div class="col-sm-6 col-lg-7 col-xl-9">
                    <div>Shivam Mistry</div>
                    <div>Chinmay Joshi</div>
                </div>
            </div>
        </div>
        <div class="login-details">
            <h5 class="mb-3">Login Details</h5>
            <div class="row no-gutters mb-2">
                <div class="col-sm-6 col-lg-5 col-xl-3">User ID:</div>
                <div class="col-sm-6 col-lg-7 col-xl-9">Rajdeep@12345</div>
            </div>
            <div class="row no-gutters mb-2">
                <div class="col-sm-6 col-lg-5 col-xl-3">Password:</div>
                <div class="col-sm-6 col-lg-7 col-xl-9">
                    <div>**************</div>
                    <a href="#">change password</a>
                </div>
            </div>
        </div>
    </div>
</div>