@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

html,
body {
    background-color: $body-bg;
    height: 100%;
    font-family: $font-regular;
}

body {
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.overflow-y-auto {
    overflow-x: hidden;
    overflow-y: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



