<!-- Content Wrapper -->
<div class="wrapper d-flex h-100">
    <!--Start: Sidebar-->
    <app-sidebar></app-sidebar>
    <!--End: Sidebar-->
    <div class="flex-grow-1 overflow-hidden">
        <div class="content-wrapper d-flex flex-column h-100 overflow-hidden">
            <!--Start: header -->
            <app-header></app-header>
            <!--End: header -->
            <!--Start: Main Section -->
            <div class="main-div flex-grow-1 p-4 overflow-auto">
                <router-outlet></router-outlet>
            </div>
            <!--End: Main Section -->
        </div>
    </div>
</div>