<h2 class="main-heading">Add Mentor</h2>
<form class="d-flex flex-column flex-md-row">
    <div class="personal-section">
        <h2 class="heading">Personal Details</h2>
        <div class="row no-gutters row-1">
            <div class="col-sm-4 form-group pr-sm-3">
                <input type="text" id="firstName" class="form-control" required>
                <label class="label" for="firstName">First Name</label>
            </div>
            <div class="col-sm-4 form-group pr-sm-3">
                <input type="text" class="form-control" required>
                <label class="label" for="firstName">Middle Name</label>
            </div>
            <div class="col-sm-4 form-group">
                <input type="text" class="form-control" required>
                <label class="label" for="firstName">Last Name</label>
            </div>
        </div>
        <div class="row-2">
            <div class="form-group mr-3">
                <select class="form-control dialing-code" id="exampleFormControlSelect1">
                    <option>+91</option>
                    <option>21</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <input type="number" class="form-control contact-input" required>
                <label class="label" for="firstName">Mobile No.</label>
            </div>
        </div>
        <div class="row-3">
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect2">
                    <option>Select Domain</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="row-4">
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect3">
                    <option>Select sub-Domain</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="login-section">
        <h2 class="heading">Login Details</h2>
        <div class="row-1">
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" required>
                <label class="label" for="exampleInputEmail1">Email address</label>
            </div>
        </div>
        <div class="row-2">
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" required>
                <label class="label" for="exampleInputPassword1">Password</label>
            </div>
        </div>
        <div class="row-3">
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword2" required>
                <label class="label" for="exampleInputPassword2">Confirm Password</label>
            </div>
        </div>
        <button class="btn submit-btn" type="submit">Add Mentor</button>
    </div>
</form>