.personal-section,
.login-section {
    .heading {
        color: $blue;
        font-weight: $font-regular;
        font-size: $font-size + 15;
        @media only screen and (max-width: 768px) {
            margin-top: 10px;
        }
    }
}

.main-heading {
    font-size: $font-size + 20;
    margin-bottom: 20px;
}
.personal-section {
    .row-2 {
        display: flex;
        flex-wrap: nowrap;
    }
    .dialing-code {
        width: fit-content;
    }
}
.login-section {
    @media only screen and (min-width: 768px) {
        padding-left: 30px;
        width: 50%;
    }
}
.form-group {
    margin:20px 0;
    position: relative;
    display: block;
    .label {
        padding:5px;
        pointer-events: none;
        position:absolute;
        left:10px;
        top:2px;
        transition: 0.2s;
        opacity:0.5;
        background: $white;
        white-space: nowrap;
    }
}

.form-control {
    border: 1px solid $gray-500;
    position: relative;
    border-radius: 0px;
    outline: none;
    transition: .3s all;
    .option {
        transition: .3s all;
        &:hover {
            background-color: $blue;
        }
    }
    &:focus {
        box-shadow: none;
        border: 1px solid $blue;
        color: $blue;
        & + .label {
            opacity:1;
            transform: scale(0.75) translateY(-70%) translateX(-14px);
        }
    }
    &:not(:placeholder-shown)
    {
        & + .label {
            opacity:1;
            transform: scale(0.75) translateY(-70%) translateX(-14px);
        }
    }
}

.contact-input::-webkit-outer-spin-button,
.contact-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
.submit-btn {
    background-color: $blue;
    color: $white;
    transition: .3s all;
    border: solid 2px $blue;
    &:hover {
        background-color: $white;
        color: $blue;
    }
}