/*----sidebar----*/
#wrapper {
    @media only screen and (max-width: 576px) {
        position: relative;
    }
}

#side-nav {
    background-color: $white;
    flex: 0 0 100%;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    transition: .5s all ease-in-out;
    box-shadow: 2px 0px 4px $gray-200;
    .aside-header {
        padding: 12px;
        box-shadow: 0px 2px 4px $gray-200;
        z-index: 2000;
    }
    .aside-body {
        padding: 25px 10px;
        background-color: $secondary;
        .btn {
            display: flex;
            font-size: $font-size - 1;
            padding: 5px 10px;
            border-radius: 4px;
            margin-bottom: 10px;
            white-space: nowrap;
        }
        .btn-group {
            transition: .5s all ease-in-out;
        }
    }
}

// toggle sidebar
#sidebar:checked {
    + #side-nav {
        transform: translateX(0%);
        flex: 0 0 0px;
        width: 0;
        .btn-group {
            transform: translateX(300%);
        }
    }
}
